In [1]:
# import python library for data frame 
import pandas as pd
import scipy.stats as st

In [2]:
#read excel file
bank = pd.read_excel('E:\Python\Data\Banks.xlsx')

In [3]:
#showing the header of data file
bank.head()

#descriptive statistics information
bank.describe().T

,count,mean,std,min,25%,50%,75%,max
Revenues,51.0,6354.705882,7457.656896,1047.0,1835.5,3428.0,6884.0,34697.0
Profits,51.0,803.431373,881.812321,75.0,235.5,401.0,985.5,3708.0
Employees,51.0,21530.274510,21269.354001,3884.0,7733.0,11000.0,25336.0,93700.0

In [7]:
bank['Revenues_Z']=st.zscore(bank['Revenues']).round(4)
bank['Profits_Z']=st.zscore(bank['Profits']).round(4)
bank['Employees_Z']=st.zscore(bank['Employees']).round(4)
bank

,Name,Revenues,Profits,Employees,Revenues_Z,Profits_Z,Employees_Z
0,CITICORP,34697,3591,93700,3.8382,3.1926,3.4269
1,CHASE MANHATTAN CORP.,30381,3708,69033,3.2538,3.3266,2.2556
2,BANKAMERICA CORP.,23585,3210,77000,2.3334,2.7563,2.6339
3,NATIONSBANK CORP.,21734,3077,80360,2.0827,2.6039,2.7935
4,J.P.MORGAN & CO.,17701,1465,16943,1.5366,0.7577,-0.2178
5,FIRST UNION CORP.,14329,1896,43933,1.0799,1.2513,1.0638
6,BANC ONE CORP.,13219,1306,56600,0.9296,0.5756,1.6652
7,BANKERS TRUST N.Y. CORP.,12176,866,18286,0.7883,0.0717,-0.1541
8,FIRST CHICAGO NBD CORP.,10098,1525,33962,0.5069,0.8264,0.5903
9,NORWEST CORP.,9660,1351,55729,0.4476,0.6271,1.6239
10,WELLS FARGO & CO.,9608,1155,33100,0.4406,0.4027,0.5494
11,FLEET FINANCIAL GROUP,8095,1303,32317,0.2357,0.5722,0.5122
12,U.S. BANCORP,6909,839,25858,0.0751,0.0407,0.2055
13,PNC BANK,6859,1052,24814,0.0683,0.2847,0.1559
14,BANKBOSTON CORP.,6727,879,21500,0.0504,0.0865,-0.0014
15,KEYCORP,6568,919,24595,0.0289,0.1324,0.1455
16,BANK OF NEW YORK CO.,5697,1104,16494,-0.0891,0.3442,-0.2391
17,WACHOVIA CORP.,5270,593,21652,-0.1469,-0.2410,0.0058
18,NATIONAL CITY CORP.,5152,807,29841,-0.1629,0.0041,0.3946
19,MELLON BANK CORP.,5134,771,27500,-0.1653,-0.0371,0.2835
20,SUNTRUST BANKS,4585,667,21227,-0.2397,-0.1563,-0.0144
21,MBNA,4524,623,17398,-0.2479,-0.2067,-0.1962
22,CORESTATES FINAN. CORP.,4379,813,18847,-0.2676,0.0110,-0.1274
23,BARNETT BANKS,4102,255,21487,-0.3051,-0.6281,-0.0021
24,REPUBLIC NEW YORK CORP.,3738,449,5900,-0.3544,-0.4059,-0.7422
25,STATE ST. CORP.,3428,380,14199,-0.3963,-0.4850,-0.3481
26,COMERICA,3175,530,11000,-0.4306,-0.3132,-0.5000
27,BB&T CORP.,2598,360,9803,-0.5088,-0.5079,-0.5569
28,SOUTHTRUST CORP.,2503,307,10311,-0.5216,-0.5686,-0.5327
29,SUMMIT BANCORP,2367,371,8566,-0.5400,-0.4953,-0.6156
30,HUNTINGTON BANCSHARES,2324,293,9485,-0.5459,-0.5846,-0.5720
31,NORTHERN TRUST CORP.,2267,309,7553,-0.5536,-0.5663,-0.6637
32,MERCANTILE BANCORP.,2257,205,9510,-0.5549,-0.6854,-0.5708
33,FIRST OF AMER. BANK CORP.,2078,315,10622,-0.5792,-0.5594,-0.5180
34,CRESTAR FINANCIAL CORP.,1997,310,8215,-0.5901,-0.5651,-0.6323
35,FIFTH THIRD BANCORP,1924,401,6787,-0.6000,-0.4609,-0.7001
36,REGIONS FINANCIAL,1912,300,9227,-0.6017,-0.5766,-0.5842
37,FIRSTAR CORP.,1893,295,7755,-0.6042,-0.5823,-0.6541
38,UNION PLANTERS CORP.,1778,209,7711,-0.6198,-0.6808,-0.6562
39,MARSHALL & ILSLEY CORP.,1743,245,10227,-0.6245,-0.6396,-0.5367
40,POPULAR,1739,210,8854,-0.6251,-0.6797,-0.6019
41,AMSOUTH BANCORP.,1644,226,6400,-0.6379,-0.6613,-0.7184
42,FIRST TENN. NATL. CORP.,1609,197,8207,-0.6427,-0.6946,-0.6326
43,FIRST SECURITY CORP.,1503,206,7673,-0.6570,-0.6842,-0.6580
44,OLD KENT FINANCIAL CORP.,1306,180,6328,-0.6837,-0.7140,-0.7219
45,FIRST EMPIRE STATE CORP.,1258,176,4781,-0.6902,-0.7186,-0.7953
46,PACIFIC CENTURY FINANCIAL,1250,139,5114,-0.6913,-0.7610,-0.7795
47,PROVIDIAN FINANCIAL,1217,191,3884,-0.6958,-0.7014,-0.8379
48,SYNOVUS FINANCIAL CORP.,1215,165,7496,-0.6960,-0.7312,-0.6664
49,COMPASS BANCSHARES,1131,156,5060,-0.7074,-0.7415,-0.7821
50,FIRST NATL. OF NEBRASKA,1047,75,5200,-0.7188,-0.8343,-0.7754

In [6]:
bank

,Name,Revenues,Profits,Employees,Revenues_Z,Profits_Z,Employees_Z
0,CITICORP,34697,3591,93700,3.8382,3.1926,3.4269
1,CHASE MANHATTAN CORP.,30381,3708,69033,3.2538,3.3266,2.2556
2,BANKAMERICA CORP.,23585,3210,77000,2.3334,2.7563,2.6339
3,NATIONSBANK CORP.,21734,3077,80360,2.0827,2.6039,2.7935
4,J.P.MORGAN & CO.,17701,1465,16943,1.5366,0.7577,-0.2178
5,FIRST UNION CORP.,14329,1896,43933,1.0799,1.2513,1.0638
6,BANC ONE CORP.,13219,1306,56600,0.9296,0.5756,1.6652
7,BANKERS TRUST N.Y. CORP.,12176,866,18286,0.7883,0.0717,-0.1541
8,FIRST CHICAGO NBD CORP.,10098,1525,33962,0.5069,0.8264,0.5903
9,NORWEST CORP.,9660,1351,55729,0.4476,0.6271,1.6239
10,WELLS FARGO & CO.,9608,1155,33100,0.4406,0.4027,0.5494
11,FLEET FINANCIAL GROUP,8095,1303,32317,0.2357,0.5722,0.5122
12,U.S. BANCORP,6909,839,25858,0.0751,0.0407,0.2055
13,PNC BANK,6859,1052,24814,0.0683,0.2847,0.1559
14,BANKBOSTON CORP.,6727,879,21500,0.0504,0.0865,-0.0014
15,KEYCORP,6568,919,24595,0.0289,0.1324,0.1455
16,BANK OF NEW YORK CO.,5697,1104,16494,-0.0891,0.3442,-0.2391
17,WACHOVIA CORP.,5270,593,21652,-0.1469,-0.2410,0.0058
18,NATIONAL CITY CORP.,5152,807,29841,-0.1629,0.0041,0.3946
19,MELLON BANK CORP.,5134,771,27500,-0.1653,-0.0371,0.2835
20,SUNTRUST BANKS,4585,667,21227,-0.2397,-0.1563,-0.0144
21,MBNA,4524,623,17398,-0.2479,-0.2067,-0.1962
22,CORESTATES FINAN. CORP.,4379,813,18847,-0.2676,0.0110,-0.1274
23,BARNETT BANKS,4102,255,21487,-0.3051,-0.6281,-0.0021
24,REPUBLIC NEW YORK CORP.,3738,449,5900,-0.3544,-0.4059,-0.7422
25,STATE ST. CORP.,3428,380,14199,-0.3963,-0.4850,-0.3481
26,COMERICA,3175,530,11000,-0.4306,-0.3132,-0.5000
27,BB&T CORP.,2598,360,9803,-0.5088,-0.5079,-0.5569
28,SOUTHTRUST CORP.,2503,307,10311,-0.5216,-0.5686,-0.5327
29,SUMMIT BANCORP,2367,371,8566,-0.5400,-0.4953,-0.6156
30,HUNTINGTON BANCSHARES,2324,293,9485,-0.5459,-0.5846,-0.5720
31,NORTHERN TRUST CORP.,2267,309,7553,-0.5536,-0.5663,-0.6637
32,MERCANTILE BANCORP.,2257,205,9510,-0.5549,-0.6854,-0.5708
33,FIRST OF AMER. BANK CORP.,2078,315,10622,-0.5792,-0.5594,-0.5180
34,CRESTAR FINANCIAL CORP.,1997,310,8215,-0.5901,-0.5651,-0.6323
35,FIFTH THIRD BANCORP,1924,401,6787,-0.6000,-0.4609,-0.7001
36,REGIONS FINANCIAL,1912,300,9227,-0.6017,-0.5766,-0.5842
37,FIRSTAR CORP.,1893,295,7755,-0.6042,-0.5823,-0.6541
38,UNION PLANTERS CORP.,1778,209,7711,-0.6198,-0.6808,-0.6562
39,MARSHALL & ILSLEY CORP.,1743,245,10227,-0.6245,-0.6396,-0.5367
40,POPULAR,1739,210,8854,-0.6251,-0.6797,-0.6019
41,AMSOUTH BANCORP.,1644,226,6400,-0.6379,-0.6613,-0.7184
42,FIRST TENN. NATL. CORP.,1609,197,8207,-0.6427,-0.6946,-0.6326
43,FIRST SECURITY CORP.,1503,206,7673,-0.6570,-0.6842,-0.6580
44,OLD KENT FINANCIAL CORP.,1306,180,6328,-0.6837,-0.7140,-0.7219
45,FIRST EMPIRE STATE CORP.,1258,176,4781,-0.6902,-0.7186,-0.7953
46,PACIFIC CENTURY FINANCIAL,1250,139,5114,-0.6913,-0.7610,-0.7795
47,PROVIDIAN FINANCIAL,1217,191,3884,-0.6958,-0.7014,-0.8379
48,SYNOVUS FINANCIAL CORP.,1215,165,7496,-0.6960,-0.7312,-0.6664
49,COMPASS BANCSHARES,1131,156,5060,-0.7074,-0.7415,-0.7821
50,FIRST NATL. OF NEBRASKA,1047,75,5200,-0.7188,-0.8343,-0.7754